<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aishang.app">

  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <application
      android:name=".BoilerplateApplication"
      android:allowBackup="false"
      android:exported="true"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      tools:replace="android:allowBackup">
    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="4f573cbe321a3fa65a94596274199259"/>

    <activity
        android:name=".ui.main.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="stateHidden">
    </activity>

    <service android:name=".data.SyncService"/>
    <service android:name=".util.DownloadService"/>

    <receiver
        android:name=".data.SyncService$SyncOnConnectionAvailable"
        android:enabled="false">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>

    <activity
        android:name=".wxapi.WXEntryActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <activity
        android:name=".ui.insale.InSaleActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.insaleDetail.InSaleDetailActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.hotel.HotelListActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.HotelDetail.HotelDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/DetailTheme"/>
    <activity
        android:name=".ui.login.LoginActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.MemberCenter.MemberCenterActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.CashWithDrawApply.CashWithDrawApplyActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.BrokerCenter.BrokerCenterActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.RecommenCustomer.RecommenCustomerActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden">
    </activity>
    <activity
        android:name=".ui.MyOrder.MyOrderActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.MyHouse.MyHouseActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.MyBuyAndSale.BuyAndSaleActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.ChangePassword.ChangePasswordActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.bank.BankListActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.TravelFavorites.TravelFavoritesActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.AccountCenter.AccountCenterActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.edit.EditActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.Setting.SettingActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.suggestion.SuggestionActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.about.AboutActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.guide.GuideActivity"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.TravelList.TravelListActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.ProjectJoint.ProjectJointActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.register.RegisterActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.ForgetPossword.ForgetPosswordActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.KanFanTuan.KanFanTuanActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.TravelDetail.TravelDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="adjustResize">
    </activity>
    <activity
        android:name=".ui.about.KnowWeActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.about.BrokerActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.about.TravelActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.about.IssuesActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.about.MemberRuleActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.about.HongBaoActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.KanFangTuanDetail.KanFangTuanDetailActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.CanTuan.CanTuanActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.ExchangeHouse.ExchangeHouseActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name="com.foamtrace.photopicker.PhotoPickerActivity"
        android:configChanges="orientation|screenSize"
        android:screenOrientation="portrait"
        android:theme="@style/PhotoPickerTheme"/>
    <activity
        android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
        android:screenOrientation="portrait"
        android:theme="@style/PhotoPickerTheme"/>
    <activity
        android:name=".ui.BuyLouPan.BuyLouPanActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.BuyHotel.BuyHotelActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
        android:name=".ui.BankAdd.BankAddActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity android:name=".ui.PhotoGallery.PhotoGalleryActivity">
    </activity>
    <activity
        android:name=".ui.BankEdit.BankEditActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.MyCard.TravelCardActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.TradeCenter.TradeCenterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
    </activity>
  </application>
</manifest>