<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aishang.app">

  <permission
      android:name="${applicationId}.permission.JPUSH_MESSAGE"
      android:protectionLevel="signature"/>

  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>

  <application
      android:allowBackup="false"
      android:exported="true"
      android:icon="@mipmap/ic_launcher"
      android:name=".BoilerplateApplication"
      tools:replace="android:allowBackup">
    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="4f573cbe321a3fa65a94596274199259"/>

    <activity
        android:label="@string/app_name"
        android:name=".ui.main.MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
    </activity>

    <service android:name=".data.SyncService"/>
    <service android:name=".util.DownloadService"/>

    <receiver
        android:enabled="false"
        android:name=".data.SyncService$SyncOnConnectionAvailable">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>

    <activity
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:exported="true"
        android:name=".wxapi.WXEntryActivity"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <activity
        android:name=".ui.insale.InSaleActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.insaleDetail.InSaleDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.hotel.HotelListActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.HotelDetail.HotelDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/DetailTheme"/>
    <activity
        android:name=".ui.login.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.MemberCenter.MemberCenterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.CashWithDrawApply.CashWithDrawApplyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.BrokerCenter.BrokerCenterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.RecommenCustomer.RecommenCustomerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize|stateHidden">
    </activity>
    <activity
        android:name=".ui.MyOrder.MyOrderActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.MyHouse.MyHouseActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.MyBuyAndSale.BuyAndSaleActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.ChangePassword.ChangePasswordActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.bank.BankListActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.TravelFavorites.TravelFavoritesActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.AccountCenter.AccountCenterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.edit.EditActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.Setting.SettingActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.suggestion.SuggestionActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.about.AboutActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.guide.GuideActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.TravelList.TravelListActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.ProjectJoint.ProjectJointActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.register.RegisterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.ForgetPossword.ForgetPosswordActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.KanFanTuan.KanFanTuanActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name=".ui.TravelDetail.TravelDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="adjustResize">
    </activity>
    <activity
        android:name=".ui.about.KnowWeActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.about.BrokerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.about.TravelActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.about.IssuesActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.about.MemberRuleActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.about.HongBaoActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.KanFangTuanDetail.KanFangTuanDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.CanTuan.CanTuanActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.ExchangeHouse.ExchangeHouseActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:configChanges="orientation|screenSize"
        android:name="com.foamtrace.photopicker.PhotoPickerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/PhotoPickerTheme"/>
    <activity
        android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
        android:screenOrientation="portrait"
        android:theme="@style/PhotoPickerTheme"/>
    <activity
        android:name=".ui.BuyLouPan.BuyLouPanActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.BuyHotel.BuyHotelActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity
        android:name=".ui.BankAdd.BankAddActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity android:name=".ui.PhotoGallery.PhotoGalleryActivity">
    </activity>
    <activity
        android:name=".ui.BankEdit.BankEditActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.MyCard.TravelCardActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".ui.TradeCenter.TradeCenterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
    </activity>

    <service
        android:enabled="true"
        android:exported="false"
        android:name="cn.jpush.android.service.PushService">
      <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTER"/>
        <action android:name="cn.jpush.android.intent.REPORT"/>
        <action android:name="cn.jpush.android.intent.PushService"/>
        <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
      </intent-filter>
    </service>

    <!-- Required -->
    <receiver
        android:enabled="true"
        android:name="cn.jpush.android.service.PushReceiver">
      <intent-filter android:priority="1000">
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>

        <category android:name="${applicationId}"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.USER_PRESENT"/>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
      <!-- Optional -->
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_ADDED"/>
        <action android:name="android.intent.action.PACKAGE_REMOVED"/>

        <data android:scheme="package"/>
      </intent-filter>
    </receiver>
    <!-- Required SDK核心功能 -->
    <activity
        android:configChanges="orientation|keyboardHidden"
        android:exported="false"
        android:name="cn.jpush.android.ui.PushActivity">
      <intent-filter>
        <action android:name="cn.jpush.android.ui.PushActivity"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="${applicationId}"/>
      </intent-filter>
    </activity>
    <!-- Required SDK核心功能 -->
    <service
        android:enabled="true"
        android:exported="false"
        android:name="cn.jpush.android.service.DownloadService">
    </service>
    <!-- Required SDK核心功能 -->
    <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

    <!-- User defined. 用户自定义的广播接收器 -->
    <receiver
        android:enabled="true"
        android:name=".ui.receiver.PushMsgReceiver">
      <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTRATION"/>
        <!-- Required 用户注册SDK的intent -->
        <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
        <!-- Required 用户接收SDK消息的intent -->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
        <!-- Required 用户接收SDK通知栏信息的intent -->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
        <!-- Required 用户打开自定义通知栏的intent -->
        <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
        <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
        <action android:name="cn.jpush.android.intent.CONNECTION"/>
        <!-- 接收网络变化 连接/断开 since 1.6.3 -->
        <category android:name="${applicationId}"/>
      </intent-filter>
    </receiver>

    <!-- Required . Enable it you can get statistics data with channel -->
    <meta-data
        android:name="JPUSH_CHANNEL"
        android:value="developer-default"/>
    <meta-data
        android:name="JPUSH_APPKEY"
        android:value="f78c3476ed417dcc02a7496b"/>

    <activity
        android:name=".ui.store.StoreActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
  </application>

</manifest>