<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aishang.app">

  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

  <activity
      android:name=".wxapi.WXEntryActivity"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

  <application
      android:name=".BoilerplateApplication"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      tools:replace="android:allowBackup">
    <activity
        android:name=".ui.main.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <service android:name=".data.SyncService"/>
    <service android:name=".util.DownloadService"/>

    <receiver
        android:name=".data.SyncService$SyncOnConnectionAvailable"
        android:enabled="false">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>

    <activity android:name=".ui.insale.InSaleActivity"/>
    <activity android:name=".ui.insaleDetail.InSaleDetailActivity"/>
    <activity android:name=".ui.hotel.HotelListActivity"/>
    <activity
        android:name=".ui.HotelDetail.HotelDetailActivity"
        android:theme="@style/DetailTheme"/>
    <activity android:name=".ui.login.LoginActivity"/>
    <activity android:name=".ui.MemberCenter.MemberCenterActivity"/>
    <activity android:name=".ui.CashWithDrawApply.CashWithDrawApplyActivity"/>
    <activity android:name=".ui.BrokerCenter.BrokerCenterActivity"/>
    <activity
        android:name=".ui.RecommenCustomer.RecommenCustomerActivity"
        android:windowSoftInputMode="stateHidden">
    </activity>
    <activity android:name=".ui.MyOrder.MyOrderActivity"/>
    <activity android:name=".ui.MyHouse.MyHouseActivity"/>
    <activity android:name=".ui.MyBuyAndSale.BuyAndSaleActivity"/>
    <activity android:name=".ui.ChangePassword.ChangePasswordActivity"/>
    <activity android:name=".ui.bank.BankListActivity"/>
    <activity android:name=".ui.TravelFavorites.TravelFavoritesActivity"/>
    <activity android:name=".ui.AccountCenter.AccountCenterActivity"/>
    <activity android:name=".ui.edit.EditActivity"/>
    <activity android:name=".ui.Setting.SettingActivity"/>
    <activity android:name=".ui.suggestion.SuggestionActivity"/>
    <activity android:name=".ui.about.AboutActivity"/>
    <activity
        android:name=".ui.guide.GuideActivity"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
    <activity android:name=".ui.TravelList.TravelListActivity"/>
    <activity android:name=".ui.ProjectJoint.ProjectJointActivity"/>
    <activity android:name=".ui.register.RegisterActivity"/>
    <activity android:name=".ui.ForgetPossword.ForgetPosswordActivity"/>
    <activity android:name=".ui.KanFanTuan.KanFanTuanActivity"/>
    <activity android:name=".ui.TravelDetail.TravelDetailActivity">
    </activity>
    <activity android:name=".ui.about.KnowWeActivity">
    </activity>
    <activity android:name=".ui.about.BrokerActivity">
    </activity>
    <activity android:name=".ui.about.TravelActivity">
    </activity>
    <activity android:name=".ui.about.IssuesActivity">
    </activity>
    <activity android:name=".ui.about.MemberRuleActivity">
    </activity>
    <activity android:name=".ui.about.HongBaoActivity">
    </activity>
    <activity android:name=".ui.KanFangTuanDetail.KanFangTuanDetailActivity">
    </activity>
    <activity android:name=".ui.CanTuan.CanTuanActivity">
    </activity>
    <activity android:name=".ui.ExchangeHouse.ExchangeHouseActivity">
    </activity>
    <activity
        android:name="com.foamtrace.photopicker.PhotoPickerActivity"
        android:configChanges="orientation|screenSize"
        android:theme="@style/PhotoPickerTheme"/>
    <activity
        android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
        android:theme="@style/PhotoPickerTheme"/>
    <activity android:name=".ui.BuyLouPan.BuyLouPanActivity">
    </activity>
    <activity android:name=".ui.BuyHotel.BuyHotelActivity">
    </activity>
    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:name=".ui.BankAdd.BankAddActivity">
    </activity>
  </application>

</manifest>
